.List {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ListElement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #363b41;
    border-left: 1px solid #363b41;
    border-right: 1px solid #363b41;
    padding-left: 15px;
}

.ListElement:last-child {
    border-bottom: 1px solid #363b41;
}

.LiQuantity {
padding: 15px;
background-color: #111a21;
color: white;

}